Package: debdroid
Version: 3.06-r2
Section: Virtualization
Priority: optional 
Architecture: all 
Depends: wget, dialog, proot, tar, pulseaudio, ncurses-utils
Maintainer: @wmcbtech30
Description: Run Debian Without Root on your Android Device
